HELP.md
.mvn/wrapper/maven-wrapper.jar

# Ignorar todos los target/
target/
# Excepciones para target (deben estar después de target/)
!**/src/main/**/target/
!**/src/test/**/target/
# Permitir el JAR final del boot (aplicación ejecutable)
# Necesitamos primero "des-ignorar" el directorio, luego ignorar todo, luego permitir .jar
!boot/target/
boot/target/*
!boot/target/*.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Local configuration files ###
**/application-local.properties
